<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'prc_mdl_app/css/bootstrap.css' %}">
    <title>Home</title>
</head>
<body>
<nav class="navbar  navbar-expand-lg bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="{% url 'rederHome' %}" style="color: #e3f2fd;">Manage Config</a>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" style="color: #e3f2fd;"
                       href="{% url 'renderPriceCalculator' %}">Price Calculator</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<div class="container-fluid">
    <table class="table table-striped">
        <thead>
        <tr>
            <th scope="col">Distance Base Price</th>
            <th scope="col">Distance Additional Price</th>
            <th scope="col">Time Multiplier Factor</th>
            <th scope="col">Waiting Charges WC</th>
            <th scope="col">Status</th>
            <th scope="col">Updated At</th>
            <th scope="col">Created At</th>
            <th scope="col">Updated At</th>
            <th scope="col">Updated By</th>
            <th scope="col">Update</th>
            <th scope="col">Action</th>
            <th scope="col">Delete</th>
        </tr>
        </thead>
        <tbody>
        {% for item in config_list %}
        <form action="{% url 'updatePriceConfig' %}" method="POST">
            {% csrf_token %}
            <tr>
                <td><input type="text" class="form-control" name="distance_base_price"
                           value={{item.distance_base_price}}></td>
                <td><input type="text" class="form-control" name="distance_additional_price"
                           value={{item.distance_additional_price}}></td>
                <td><input type="text" class="form-control" name="time_multiplier_factor"
                           value={{item.time_multiplier_factor}}></td>
                <td><input type="text" class="form-control" name="waiting_charge"
                           value={{item.waiting_charge}}></td>
                <td>{{item.is_enabled}}</td>
                <td>{{item.created_at}}</td>
                <td>{{item.created_by}}</td>
                <td>{{item.updated_at}}</td>
                <td>{{item.updated_by}}</td>
                <td>
                    <button type="submit" class="btn btn-primary">Update</button>
                </td>
                <td>
                    {% if item.is_enabled == "Enabled" %}
                    <a class="btn btn-secondary" href="{% url 'disablePriceConfig' item.key %}"
                       role="button">Disable</a>
                    {% else %}
                    <a class="btn btn-warning" href="{% url 'disablePriceConfig' item.key %}" role="button">Enable</a>
                    {% endif %}
                </td>
                <td>
                    <a class="btn btn-danger" href="{% url 'deletePriceConfig' item.key %}" role="button">Delete</a>
                </td>
            </tr>
            <input type="hidden" class="form-control" name="key" value={{item.key}}>
        </form>
        {% endfor %}
        </tbody>
    </table>
</div>

<script src="{% static 'prc_mdl_app/js/bootstrap.js' %}"></script>
</body>
</html>